@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss"

@tailwind utilities;

@layer utilities {
    .font-cormorant{
        font-family: "Cormorant Garamond", serif;
    }
    .font-karla {
        font-family: "Karla", sans-serif;
    }
}